body{
    font-family:  Arial,"Times New Roman";
    font-style: italic;
}
#main{
margin: 20px 20px 20px 20px;
}
#head{
    height: 80px;
    width: 100%;
    background: dodgerblue;
    margin-bottom: 10px;

}
#headlink{
    background: darkcyan;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}
#left{
    background: chocolate;
    height: 400px;
    width: 20%;
    float: left;

    margin-bottom: 5px;
}
#content{
    background: aliceblue;
    height: 400px;
    width: 60%;
    float: left;
    margin-bottom: 5px;
}
#right{
    background: blueviolet;
    height: 400px;
    width: 20%;
    float: left;
    margin-bottom: 5px;
}
#footer{
    background: darkgray;
    width: 100%;
    clear: both;
    height: 150px;

}